nav.navbar.navbar-expand-md.navbar-darl.fixed-top.bg-dark
    a.navbar-brand(href='#') Navbar
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#')
        span.navbar-toggler-icon
    #navbarNav.collapse.navbar-collapse
        ul.navbar-nav
            li.nav-item
                a.nav-link(href="/") Landing-Page
            li.nav-item
                a.nav-link(href="/temario") Temario

main(role='main')
    .jumbotron
        .container
            h1.display-3 NodeJS
            p Curso NodeJS de Open Webinars en el que aprenderás como funciona Node.js, y su gestor de paquetes NPM. Desarrollaremos nuestra propia web y API Rest utilizando Expres